version: '3'
services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9090:9090"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9090"
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: powercards
      POSTGRES_PASSWORD: powercards
      POSTGRES_DB: powercards
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

  ollama:
    build:
      context: .
      dockerfile: Dockerfile.function-gemma
    image: powercards-ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  minio_data:
  postgres_data:
  ollama_data: