version: '3.8'

services:
  traefik:
    image: traefik:v2.10
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # Add SSL resolver configuration here for production
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  frontend:
    image: ghcr.io/${GITHUB_REPOSITORY}/powercards-frontend:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.frontend.entrypoints=web"

  backend:
    image: ghcr.io/${GITHUB_REPOSITORY}/powercards-backend:latest
    environment:
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://${DATA_NODE_IP}:5432/powercards
      - QUARKUS_DATASOURCE_USERNAME=${DB_USER}
      - QUARKUS_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - QUARKUS_OIDC_AUTH_SERVER_URL=http://${APP_NODE_IP}:8081/realms/powercards
      - QUARKUS_KEYCLOAK_ADMIN_CLIENT_SERVER_URL=http://${APP_NODE_IP}:8081
      - QUARKUS_MINIO_URL=http://${DATA_NODE_IP}:9000
      - QUARKUS_LANGCHAIN4J_OLLAMA_BASE_URL=http://${DATA_NODE_IP}:11434
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`api.${DOMAIN_NAME}`)"
      - "traefik.http.routers.backend.entrypoints=web"

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    command: start-dev --http-port 8081 # Use start for prod with proper config
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN_USER}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://${DATA_NODE_IP}:5432/keycloak
      - KC_DB_USERNAME=${DB_USER}
      - KC_DB_PASSWORD=${DB_PASSWORD}
    ports:
      - "8081:8081"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`auth.${DOMAIN_NAME}`)"
      - "traefik.http.routers.keycloak.entrypoints=web"
